{% extends 'inventory/base.html' %}
{% block content %}



    <div class="container">
		<div class="row " style="padding-top: 20px"> 
          
          <div class="col-md-7 ">
           {# <p>{{ value }}</p> #}
               <form action="." method="GET" id="search_form">
                <div class="input-group" >
                  <input type="text" class="form-control" placeholder="Search..." name="q" />
				  <span class="input-group-btn">
                    <button  type="button" class="btn btn-default " id="click_search_btn">Найти</button>
					
                  </span>
                </div><!-- /input-group -->
               
				</form>
          </div>
          <div class="col-md-5"></div>

		</div>
		<div class="row">
			<div class="col-md-7">
				<div id="result_search"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
    </div>
	
	
	<!-- Удлалить нахер как рудимент-->
	<!-- Модальное окно: Новая нода -->
	<div id="new_node" class="modal fade">
	  <div  class="modal-dialog">
		<div class="modal-content">
		  <!-- Заголовок модального окна -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Новое устройство</h4>
		  </div>
		  <div id="result_new_node"></div>
		  <!-- Основное содержимое модального окна -->


				
			 
			
			<form action="." method="GET" id="new_node_form">
				<div class="modal-body" >
					<div class="form-group row">
						<label for="inputIp" class="col-sm-2 control-label">ip</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="node_ip" placeholder="ip">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputHostname" class="col-sm-2 control-label">Hostname</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="node_hostname" placeholder="Hostname">
						</div>
					</div>
					<!-- 
					Обработка селектов выбора локации устройства.
					1. После загрузки страницы, получить json содержащий все Point of Present. 
					2.
					-->
					<div class="form-group row">
					<!-- Неудачная попытка:  https://jqueryui.com/autocomplete/ -->
						<label for="tags" class="col-sm-2 control-label">Регион</label>
						<div class="col-sm-9">
							
						</div>
					
					</div>
				
				</div>
			
			  <!-- Футер модального окна -->
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				<button type="button" class="btn btn-primary" id="btn_new_node">Добавить</button>
			  </div>
		  </form>
		</div>
	  </div>
	</div>
{% endblock %}